:root {
  --black: #222;
  --blackDark: #111;
  --greyLight: rgb(184, 178, 178);
  --grey: rgb(127, 124, 124);
  --green: #10d956;
  --greenDark: #0caa43;
  --violet: #a20dff;
  --violetDark: #8a0bd9;
  --red: #d12f2f;
  --redDark: #aa2727;
  --yellow: #efbf11;
  --yellowDark: #c9a110;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: var(--black);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.cursorp { cursor: pointer }

.posr { position: relative}
.posa { position: absolute}

.oh {overflow: hidden}

.df {  display: flex; }
.fdc {  flex-direction: column; }
.aic {  align-items: center; }
.jcc {  justify-content: center; }
.jcsb {  justify-content: space-between; }
.asfe {  align-self: flex-end; }

.w100p {  width: 100%;}

.br2 {  border-radius: 0.2rem;}
.br5 {  border-radius: 0.5rem;}
.br20 {  border-radius: 2rem;}
.ml5 {  margin-left: 0.5rem;}
.ml10 {  margin-left: 1rem;}
.mr5 {  margin-right: 0.5rem;}
.mr10 {  margin-right: 1rem;}
.m0 {  margin: 0;}
.mb5 {  margin-bottom: 0.5rem;}
.mb20 {  margin-bottom: 2rem;}
.mt2 {  margin-top: 0.2rem;}
.mt3 {  margin-top: 0.3rem;}
.mt5 {  margin-top: 0.5rem;}
.mt10 {  margin-top: 1rem;}
.mt20 {  margin-top: 2rem;}
.mv5 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.mh5 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.tdlt { text-decoration: line-through;}
.tdu { text-decoration: underline;}
.tac { text-align: center;}
.tar { text-align: right;}
.p5 { padding: 0.5rem;}
.pt5 { padding-top: 0.5rem;}
.p10 { padding: 1rem;}

.cblack {  color: var(--black)}
.cgrey {  color: var(--grey)}
.cgreylight {  color: var(--greyLight)}
.cred {  color: var(--red)}
.cgreen {  color: var(--green)}
.cviolet {  color: var(--violet)}
.cyellow {  color: var(--yellow)}

.fs8 { font-size: 0.8rem;}
.fs12 { font-size: 1.2rem;}
.fs14 { font-size: 1.4rem;}


@media (max-width: 700px) {
  .main-title {
    max-width: 95vw;
  }

  html {
    font-size: 12px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
